* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #232323;
    background-image: url('background.png');
    height: 100%;
    min-width: 400px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    -webkit-box-shadow: inset 0 50px 100px 25px rgba(0, 0, 0, 0.5);
}

.cover {
    background: #eee;
    margin: 0 auto;
    min-height: 300px;
    min-width: 300px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75), 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}