* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #232323;
    background-image: url('background.png');
    -webkit-box-shadow: inset 0 50px 100px 25px rgba(0, 0, 0, 0.5);

    height: 100%;
    min-width: 400px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    text-align: center;
}

.overlay {
    background: transparent;
    -webkit-box-shadow: inset 0 -25px 55px 0 rgba(0, 0, 0, 0.25);

    display: block;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    z-index: 100;
}
#cover {
    background: #eee;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75), 0 5px 15px 0 rgba(0, 0, 0, 0.5);

    margin: 0 auto;
    max-width: 300px;
}